<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">

<link href="https://fonts.cdnfonts.com/css/latin-modern-sans" rel="stylesheet">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>
  
  <style> 
    body {
        font-size: 15px;
        background-color: rgb(255, 255, 250);
        font-family: 'Computer Modern Bright', sans-serif;
    }
    </style>

</html>
