---
layout: default
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="columns">
  <div class="column-1">
    <img src="profile_zoomed.jpg" class="profile-picture" width=75% align="left"></img>

    <div class="contact-links">
      <a href="mailto:suuraj.srinivas@gmail.com"><i class="fa fa-envelope"></i> email</a>
      <a href="https://twitter.com/Suuraj"><i class="fa fa-twitter"></i> twitter</a>
      <a href="https://www.linkedin.com/in/suraj-srinivas-1a856264/"><i class="fa fa-linkedin"></i> linkedin</a>
      <a href="https://github.com/suraj-srinivas"><i class="fa fa-github"></i> github</a>
      <a href="https://scholar.google.com/citations?user=J2JWgKgAAAAJ"><i class="fa fa-graduation-cap"></i> scholar</a>
      <hr class="contact-divider">
      <a href="resume/resume.pdf" class="cv-link"><i class="fa fa-file-text"></i> cv</a>
    </div>

  </div>
  <div class="column-2">
      {{ content }}
  </div>

</div>
 

<style>

img {
  border-radius: 50%;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.18);
}

.contact-links {
  width: 60%;
  margin-left: 7.5%;
  margin-bottom: 5%;
  margin-top: 90%;
  padding: 8px 0;
  border-radius: 0 6px 6px 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  font-size: 0.9em;
  overflow: hidden;
}

.contact-links a {
  display: block;
  padding: 7px 16px;
  color: #444;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.contact-links a:hover {
  background-color: #f0f0f0;
  color: #2563a8;
  text-decoration: none;
}

.contact-links .fa {
  width: 16px;
  text-align: center;
  margin-right: 7px;
  color: #888;
}

.contact-links a:hover .fa {
  color: #2563a8;
}

.contact-divider {
  border: none;
  border-top: 1px solid #e0ddd0;
  margin: 6px 16px;
}

.cv-link {
  font-weight: 600;
  color: #333 !important;
}

.columns {
  width: 100%;
}
.column-1, .column-2 {
  width: 100%;
}
@media (min-width: 400px) {
  .column-1 {
    width: 25%;
    float: left;
    justify-content: center;
  }
  .column-2 {
    width: 75%;
    float: left;
    justify-content: left;
  }
  .columns {
    content: "";
    display: table;
    clear: both;
  }
}
</style>
