---
layout: default
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="columns">
  <div class="column-1">
    <img src="profile.jpeg" class="profile-picture" width=80% align="left"></img>

    <div style="width:65%; padding-left:21%; padding-top:70%; margin-bottom:5%; margin-top:2% ">
      <br><br>
    <a href="mailto:suuraj.srinivas@gmail.com", class="fa fa-paper-plane"></a>email<br>
    <a href="https://twitter.com/Suuraj", class="fa fa-twitter"></a>twitter<br>
    <a href="https://scholar.google.com/citations?user=J2JWgKgAAAAJ", class="fa fa-book"></a>scholar<br>
    <a href="https://www.linkedin.com/in/suraj-srinivas-1a856264/", class="fa fa-linkedin" ></a>linkedin<br>
    <a href="https://github.com/suraj-srinivas", class="fa fa-github" ></a>github<br>
    <a href="resume/cv_suraj.pdf", class="fa fa-file-pdf-o" aria-hidden="true"></a><a href="resume/cv_suraj.pdf"><b>cv</b></a>
    </div>
  </div>
  <div class="column-2">
      {{ content }}
  </div>

</div>
 

<style>

img{
  border-radius: 50%;
}



.fa {
  padding-right: 15%;
  font-size: 16px;
  width: 3%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 2% 2%;
}

.fa:hover {
    opacity: 0.3;
    text-decoration: none;
}

.textblock{
  width: 25%;
  background-color: lightgrey;
  padding-left: 5%
}

.columns{
  Width: 100%;
  }
  .column-1, .column-2 {
    width:100%;
  }
  @media (min-width:30em){
    .column-1 {
      width: 30%;
      float: left;
      justify-content: center;
      margin-top: 2%;
    }
    .column-2 {
      width: 70%;
      float: left;
      justify-content: center;
    } 
    .columns {
      content:"";
      display: table;
      clear: both;
    }
  }
</style>
